<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Bienvenue</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active">Années Scolaires</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header d-flex">
                  <h3 class="card-title">Années sclolaires</h3>

                  <button class="BtnI ml-auto">
                    <div class="sign">
                      <i class="fas fa-plus" style="color: white"></i>
                    </div>
                    <div class="text">Ajouter une année</div>
                  </button>
                </div>
                <div class="card-body">
                  <ul
                    class="pagination pagination-month justify-content-center"
                  >
                    <li class="page-item">
                      <a class="page-link" href="#">«</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2017-2018</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a
                              class="dropdown-item justify-content-center"
                              href="#"
                            >
                              <button class="buttonSup">
                                <svg viewBox="0 0 448 512" class="svgIcon">
                                  <path
                                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                                  ></path>
                                </svg>
                              </button>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                              <button class="buttonSup">
                                <i class="fas fa-edit" style="color: white"></i>
                              </button>
                            </a>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2018-2019</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2019-2020</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2020-2021</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2021-2022</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2022-2023</p>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">
                            Action
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning dropdown-toggle dropdown-icon"
                            data-toggle="dropdown"
                            aria-expanded="false"
                          ></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                          </div>
                        </div>
                      </a>
                    </li>

                    <li class="page-item">
                      <a class="page-link" href="#">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2023
        <a href="https://teamethicalhackers.live">Team Ethical Hackers</a
        >.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</body>
