<breadcrumb></breadcrumb>
<mat-card>
  <mat-card-content>
    <section>
      <h2>Années Scolaires</h2>
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <mat-card class="text-white bg-indigo-500"
                    routerLink="2022">
            <mat-card-header>
              <mat-card-subtitle class="text-white">2022-2023</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2 class="m-y-8">5000</h2>
              <small class="text-muted">Inscrits</small>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-sm-6 col-md-3">
          <mat-card class="text-white bg-indigo-500">
            <mat-card-header>
              <mat-card-subtitle class="text-white">2021-2022</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2 class="m-y-8">5000</h2>
              <small class="text-muted">Etudiants</small>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </section>
  </mat-card-content>
</mat-card>
