<!--<breadcrumb></breadcrumb>-->
<mat-card>
    <mat-card-content>
        <section>
            <h2>Années Scolaires</h2>

            <div class="row">

                <app-annee-scolaire-card class="col-sm-6 col-md-3"
                                         *ngFor="let anneeScolaire of anneesScolaires trackBy: trackById"
                                         [anneeScolaire]="anneeScolaire">
                </app-annee-scolaire-card>

            </div>

        </section>
    </mat-card-content>
</mat-card>
