<div class="mat-h3">2022 - 2023 </div>

<mat-card class="col-sm-12 col-md-12 m-8">

    <mat-card-content>

        <h2>Niveaux d'étude</h2>

        <section>
            <mat-accordion>

                <mat-expansion-panel *ngFor="let cycle of cycles" (opened)="getListeNiveauxByCycle(cycle.nom)">

                    <mat-expansion-panel-header>
                        <mat-panel-title>{{cycle.nom}}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <table [dataSource]="niveaux" mat-table>

                        <ng-container matColumnDef="nom">
                            <th *matHeaderCellDef mat-header-cell> Niveaux</th>
                            <td *matCellDef="let element" mat-cell> {{element.nom}} </td>
                        </ng-container>

                        <tr *matHeaderRowDef="colonnes" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: colonnes;" mat-row routerLink={{row.link}}></tr>

                    </table>

                </mat-expansion-panel>

            </mat-accordion>
        </section>
    </mat-card-content>
</mat-card>

