<div class="mat-h3">2022 - 2023 / {{niveau}} </div>

<mat-card class="col-sm-12 col-md-12 m-8">

    <mat-card-content>
        <section>
            <h2>Formations </h2>

            <div class="row">

                <app-formation-card class="col-sm-6 col-md-4"
                                    *ngFor="let formation of formations"
                                    [formation]="formation"
                                    [withProgress]="true"
                                    [progressValue]="progressValue">
                </app-formation-card>
            </div>
        </section>
    </mat-card-content>
</mat-card>
