<div >
    <mat-card class="text-white bg-indigo-500 example-ripple-container"
              matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
              [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
              [matRippleColor]="color"
              routerLink="{{anneeScolaire.annee}}">
        <mat-card-header>
            <mat-card-subtitle class="text-white">{{anneeScolaire.annee}} - {{anneeScolaire.annee + 1}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h2 class="m-y-8">5000</h2>
            <small class="text-muted">Inscrits</small>
        </mat-card-content>
    </mat-card>

</div>
