<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Bienvenue</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active">Années Scolaires</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header d-flex">
                  <h3 class="card-title">Années sclolaires</h3>
                  <button
                    type="button"
                    class="btn col-lg-2 btn-block bg-gradient-success btn-sm ml-auto"
                  >
                    <i class="fas fa-plus"></i> Ajouter une année scolaire
                  </button>
                </div>
                <div class="card-body">
                  <ul
                    class="pagination pagination-month justify-content-center"
                  >
                    <li class="page-item">
                      <a class="page-link" href="#">«</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2017-2018</p>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2018-2019</p>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2019-2020</p>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2020-2021</p>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2021-2022</p>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <p class="page-month">Année Scolaire</p>
                        <p class="page-year">2022-2023</p>
                      </a>
                    </li>

                    <li class="page-item">
                      <a class="page-link" href="#">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2023
        <a href="https://teamethicalhackers.live">Team Ethical Hackers</a
        >.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</body>
